

h2{
	color: #00008B;
	font-size: 150%;
}
p{
	color: #ff0000;
	font-size: 100%;
}

img {
  width: 40%;
  height: auto;
}
body {
max-width: max-content;
margin: auto;
}
#imageFood {
 width: 75%;
  height: 10;
  center: center;
}
